.buttonRadius {
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #888888;
  padding: 20px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 5%;
}

.button {
  border: 1px solid black;


}

.buttonWrapper{
  /* background-color: blue; */

}
.buttonContainer{
  /* border: 1px solid black; */

}
